<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/img/logo-corfopym.png" id="icon" alt="LogoCorfo" />
    </div>
    <h2>Registro de información</h2>
    <form [formGroup]="registroForm">
      <!-- NOMBRE -->
      <span class="text-danger" *ngIf="validarCampos('nombre')">
        {{ errorNombre }}
      </span>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="Nombre"
        formControlName="nombre"
      />
      <i class="material-icons danger" *ngIf="validarCampos('nombre')">
        error
      </i>
      <br />

      <!-- APELLIDO -->
      <span class="text-danger" *ngIf="validarCampos('apellido')">
        {{ errorApellido }}
      </span>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="Apellido"
        formControlName="apellido"
      />
      <i class="material-icons danger" *ngIf="validarCampos('apellido')">
        error
      </i>
      <br />

      <!-- CORREO -->
      <span class="text-danger" *ngIf="validarCampos('correo')">
        {{ errorCorreo }}
      </span>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="Correo electrónico"
        formControlName="correo"
      />
      <i class="material-icons danger" *ngIf="validarCampos('correo')">
        error
      </i>
      <br />
      <!-- TIPO -->
      <span class="text-danger" *ngIf="validarCampos('tipos')">
        {{ errorTipos }}
      </span>
      <select
        class="fadeIn second"
        (change)="onChangeTipo($event)"
        formControlName="tipos"
      >
        <option value="">Tipo</option>
        <option *ngFor="let tipo of tipos" [ngValue]="tipo">
          {{ tipo }}
        </option>
      </select>
      <i class="material-icons danger" *ngIf="validarCampos('tipos')">
        error
      </i>
      <br />

      <!-- PASSWD -->
      <span class="text-danger" *ngIf="validarCampos('passwd')">
        {{ errorPasswd }}
      </span>
      <input
        passwd
        type="password"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="Contraseña"
        formControlName="passwd"
      />
      <i class="material-icons danger" *ngIf="validarCampos('passwd')">
        error
      </i>
      <br />

      <!-- PASSWD2 -->
      <span class="text-danger" *ngIf="validarCampos('passwd2')">
        {{ errorPasswd2 }}
      </span>
      <input
        passwd
        type="password"
        id="password2"
        class="fadeIn third"
        name="login"
        placeholder="Confirmar Contraseña"
        formControlName="passwd2"
      />
      <i class="material-icons danger" *ngIf="validarCampos('passwd2')">
        error
      </i>
      <br />

      <button
        type="success"
        class="fadeIn fourth btn btn-success"
        (click)="guardar()"
        *ngIf="!cargando && !terminado"
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="cargando"
        ></span>
        {{ !cargando ? "Guardar datos" : "" }}
      </button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/auth/login">
        <i class="material-icons">arrow_back</i>
        Volver al login
      </a>
      <br />
    </div>
  </div>
</div>
