
  <div class="cards">
    <div class="text-center">
      <h1>Información sobre los cursos</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga numquam
        necessitatibus vero assumenda natus, sunt repellendus quis quo, repellat
        nulla animi sint ex qui tempora possimus, deleniti magni nobis
        explicabo!
      </p>
    </div>
    <div class="text-center">
      <h3>Categorías</h3>
    </div>
    <div class="card-group">
      <div class="card text-center" *ngFor="let cat of categorias" (click)="router.navigate(['/categoria', cat.id]);">
        <img class="card-img-top" [src]="'assets/img/categorias/'+cat.nombre.split(' ')[0]+'.png'" [alt]="cat.nombre">
      </div>
    </div>
  </div>