<div class="modal-header">
  <h4 class="modal-title">{{ idCliente ? 'Editar Información' : 'Inscribirse al curso' }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismissAll('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="text-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="cargando && idCliente">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="text-left" *ngIf="curso">
    <strong>{{ curso.nombre }}</strong>
  </div>
  <br>
  <form autocomplete="off" [formGroup]="clienteForm" (ngSubmit)="guardar()">
    <!-- Cedula -->
    <span class="text-danger" *ngIf="validarCampos('cedula')">
      {{ errorCedula }}
    </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Cédula</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        id="cedula"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="cedula"
      />
    </div>
    
    <!-- Nombre -->
    <span class="text-danger" *ngIf="validarCampos('nombre')">
      {{ errorNombre }}
    </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Nombre</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        id="nombre"
        formControlName="nombre"
      />
    </div>

    <!-- Apellido -->
    <span class="text-danger" *ngIf="validarCampos('apellido')">
      {{ errorApellido }}
    </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Apellido</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        id="apellido"
        formControlName="apellido"
      />
    </div>

    <!-- Email -->
    <span class="text-danger" *ngIf="validarCampos('email')">
      {{ errorEmail }}
    </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Email</span
        >
      </div>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>

    <!-- Teléfono -->
    <span class="text-danger" *ngIf="validarCampos('telefono')">
      {{ errorTelefono }}
    </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Telefono</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        id="telefono"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        formControlName="telefono"
      />
    </div>

    <!-- Dirección -->
    <span class="text-danger" *ngIf="validarCampos('direccion')">
      {{ errorDireccion }}
    </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Dirección</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        id="direccion"
        formControlName="direccion"
      />
    </div>

    <!-- Ciudad -->
    <span class="text-danger" *ngIf="validarCampos('ciudad')">
      {{ errorCiudad }}
    </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Ciudad</label>
      </div>
      <select
        class="form-control custom-select"
        formControlName="ciudad"
      >
        <option value="">Seleccionar...</option>
        <option *ngFor="let ciudad of ciudades">
          {{ ciudad.nombre }}
        </option>
      </select>
    </div>

    <div *ngIf="idCliente">
      <!-- Imagen cedula -->
      <span class="text-danger" *ngIf="validarCampos('imgCedula')">
        {{ errorImgCedula }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Cédula física</span
          >
        </div>
        <input
          type="file"
          accept="image/*"
          max="1"
          class="form-control"
          id="imgCedula"
          formControlName="imgCedula"
          (change)="onChangeImgCedula($event)"
        />
      </div>
      <div class="container-fluid" style="margin-bottom: 2%" *ngIf="imgCedula">
        <div class="row">
          <div class="col-4">
            <img [src]="imgCedula" class="img-fluid" alt="Cédula física" />
          </div>
        </div>
      </div>

      <!-- Certificado de trabajo -->
      <span class="text-danger" *ngIf="validarCampos('certTrabajo')">
        {{ errorCertTrabajo }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Cert. trabajo</span
          >
        </div>
        <input
          type="file"
          accept="image/*"
          max="1"
          class="form-control"
          id="certTrabajo"
          formControlName="certTrabajo"
          (change)="onChangeCertTrabajo($event)"
        />
      </div>
      <div class="container-fluid" style="margin-bottom: 2%" *ngIf="imgCertTrabajo">
        <div class="row">
          <div class="col-4">
            <img [src]="imgCertTrabajo" class="img-fluid" alt="Certificado de trabajo" />
          </div>
        </div>
      </div>

      <!-- Certificado de capacitacion -->
      <span class="text-danger" *ngIf="validarCampos('certCapacitacion')">
        {{ errorCertCapacitacion }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Cert. capacitación</span
          >
        </div>
        <input
          type="file"
          accept="image/*"
          max="1"
          class="form-control"
          id="certCapacitacion"
          formControlName="certCapacitacion"
          (change)="onChangeCertCapacitacion($event)"
        />
      </div>
      <div class="container-fluid" style="margin-bottom: 2%" *ngIf="imgCertCapacitacion">
        <div class="row">
          <div class="col-4">
            <img [src]="imgCertCapacitacion" class="img-fluid" alt="Certificado de capacitacion" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div [class]="!curso ? 'modal-footer justify-content-between' : 'modal-footer justify-content-center'">
  <button type="button" class="btn btn-danger text-left" (click)="eliminar()" *ngIf="idCliente">
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
      *ngIf="cargando"
    >
    </span>
    <i class="material-icons">delete</i>
  </button>
  <button
    type="button"
    class="btn btn-success"
    (click)="guardar()"
    [disabled]="cargando || !clienteForm.dirty && !curso"
  >
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
      *ngIf="cargando"
    ></span>
    {{ (cargando && !idCurso) ? "Guardando..." : (cargando && idCurso) ? "" : (!cargando && !idCurso ) ? "Guardar" : "Finalizar" }}
  </button>
</div>
