<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="cards">
    <div class="text-center">
      <h1>CURSOS DISPONIBLES</h1>
    </div>
    <div class="card border-danger" *ngIf="!cursos">
      <div class="text-center">
        <div class="card-body">
          <p class="card-text text-danger">No hay cursos disponibles</p>
      </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="cargando">
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="card-group" *ngIf="cursosMostrar">
      <div class="row">
        <div class="col col-4 animate__animated animate__slideInUp animate__faster" *ngFor="let curso of cursos" >
          <app-curso-card [curso] = curso></app-curso-card>
        </div>
      </div>
    </div>
  </div>
</div>

