<div class="nosotros">
    <div class="imagen-nosotros">
        <div class="titulo">
            <h1 class="text-center">
                <span class="titulo-nosotros">Nosotros</span>
                <hr>
            </h1>
        </div>
        <div class="text-left">
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, est? Nemo necessitatibus facere odio consequatur, veniam</p>
        </div>
        <div class="text-left">
            <h3>Visión</h3>
            <p> quibusdam ratione magnam vitae nobis. Quis accusantium quia aperiam repudiandae numquam iste obcaecati sequi?</p>
        </div>
        
    </div>
</div>