<div class="nosotros">
    <div class="imagen-nosotros">
        <div class="titulo">
            <h1 class="text-center">
                <span class="titulo-nosotros">Nosotros</span>
                <hr>
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 img"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <h3 class="quienes-somos text-center">QUIENES SOMOS</h3>
                        <small class="text-muted">CORFOPYM</small>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore deleniti voluptatem
                            laudantium unde cum delectus tempore voluptatibus molestias accusamus, itaque optio placeat
                            assumenda, obcaecati fugiat magni libero praesentium inventore porro.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mision">MISION</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ab, molestias quisquam
                            atque minus.</p>
                    </div>
                    <div class="col">
                        <h4 class="vision">VISION</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ab, molestias quisquam
                            atque minus.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>