<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="cards">
        <div class="text-center">
            <h1>Acerca de CORFOPYM</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempore, velit porro obcaecati temporibus maxime officiis magnam qui cum odio consequatur ducimus assumenda, nemo soluta quo. Voluptate veritatis atque libero.</p>
        </div>
        <div class="text-left">
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, est? Nemo necessitatibus facere odio consequatur, veniam</p>
        </div>
        <div class="text-left">
            <h3>Visión</h3>
            <p> quibusdam ratione magnam vitae nobis. Quis accusantium quia aperiam repudiandae numquam iste obcaecati sequi?</p>
        </div>
        
    </div>
</div>
