<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <div class="fadeIn first">
        <img src="assets/img/logo-corfopym.png" id="icon" alt="User Icon" />
      </div>
  
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <button type="button" class="fadeIn fourth btn btn-success" (click)="login()">Iniciar Sesión</button>
        <!-- <button type="submit" class="fadeIn fourth btn btn-success">Iniciar Sesión</button> -->
      </form>
      <a href="inicio" class="underlineHover">
        Recuperar contraseña
      </a>
      
      <div id="formFooter">
        <a class="underlineHover" href="inicio">
          <i class="material-icons">arrow_back</i>
          Volver al inicio
        </a>
        <br>
      </div>
  
    </div>
  </div>