<app-nav-bar></app-nav-bar>

<div class="d-flex justify-content-center" *ngIf="cargando">
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="contenido" *ngIf="!cargando">
  <div class="portada">
    <img
      [src]="'assets/img/cursos/1.jpg'"
      alt=""
      *ngFor="let img of [1, 1, 1, 1, 1]"
    />
  </div>
  <div class="detalles">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="text-center">
            <span class="material-icons"> schedule </span>
            <p>Fecha: {{ curso.fecha }}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="text-center">
            <span class="material-icons"> hourglass_bottom </span>
            <p>Duración: {{ curso.duracion }} Horas</p>
          </div>
        </div>
        <div class="col-3">
          <div class="text-center">
            <span class="material-icons"> calendar_month </span>
            <p>Horario: {{ curso.horario }}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="text-center">
            <span class="material-icons"> school </span>
            <p>Modalidad: {{ curso.modalidad }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="informacion">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1>{{ curso.nombre }}</h1>
          <hr>
          <h2>Justificación</h2>
          <p>
            CERTIFICACIÓN CAOHC: El participante aprobará con el 70% de la
            evaluación teórica y práctica, recibirá el certifcado avalado por la
            CAOHC que tiene una vigencia de 5 años.
          </p>
          <p>
            La interpretación de los audiogramas debe realizarse conociendo las
            bases de la anatomía y la fisiología fundamental del sistema auditivo
            así como de las mediciones de la vía aérea y vía ósea. La obtención
            del audiograma es la actividad básica a partir del cual se elabora
            todo el proceso de la valoración auditiva del trabajador expuesto a
            ruido.
          </p>
          <p>
            En audiología ocupacional es importante manejar el contexto normativo
            de la salud ocupacional, por ello se propone la interpretación con la
            Escala de Klockhoff modificado. Una buena interpretación es la base
            para la vigilancia auditiva de los trabajadores expuestos a ruido.
            Este curso integra los conocimientos clínicos audiológicos y su aplica
            ción en el ámbito de la salud ocupacional.
          </p>
          <hr />
          <h2>Objetivos</h2>
          <ul>
            <li>
              El curso de AUDIOMETRIA CAOHC tiene como objetivo entrenar a los
              participantes en la correcta realización de la audiometría bajo los
              estándares de “Council for Accreditation in Occupational Hearing
              Conservation” de los Estados Unidos de América.
            </li>
  
            <li>
              Los participantes que aprueben los exámenes teórico-prácticos
              estarán calificados en la correcta toma del examen audiométrico
              ocupacional.
            </li>
          </ul>
          <hr />
        </div>
        <div class="col-2">
          <div class="text-center">
            <span class="material-icons"> attach_money </span>
            <p>Costo: {{ curso.precio | currency }}</p>
            <button type="button" class="btn btn-success">Inscribirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
