<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="/assets/img/corfo_logo.jpg" alt="corfopym_logo.jpg" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="dropdown-center">
        <button
          [class]="
            !logueado
              ? 'btn btn-outline-success'
              : 'btn btn-outline-success dropdown-toggle'
          "
          data-bs-toggle="dropdown"
          type="button"
          aria-expanded="false"
          (click)="!logueado ? irALogin() : ''"
          [disabled]="cargando"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="cargando"
          ></span>
          {{ !logueado && !cargando ? "Iniciar sesión" : usuario.email }}
        </button>
        <ul class="dropdown-menu dropdown-menu-start">
          <li>
            <button
              class="btn btn-danger dropdown-item"
              (click)="cerrarSesion()"
            >
              Cerrar sesión
            </button>
          </li>
          <li>
            <button
              class="btn btn-primary dropdown-item"
              (click)="irAlRegistro()"
            >
              Registrar
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
